<?xml version="1.0"?>
<library path="mini_arm_ros2">
  <class
    name="mini_arm_ros2/MG996RServoSystem"
    type="mini_arm_ros2::MG996RServoSystem"
    base_class_type="hardware_interface::SystemInterface">
    <description>
      ros2_control hardware interface that publishes servo degrees to an ESP32 micro-ROS topic (MG996R via PCA9685).
    </description>
  </class>
</library>

